.app-wrapper {
  display: grid;
  /* margin: 0 auto; */
  padding: 0 60px;
  grid-template-areas: 
  'h h'
  'n c';
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.notification {
  margin: 20px;
  color: red;
  font-size: 50px;
  transition: 1.5s ease;
}
.welcome {
  color: darkred;
  font-size: 25px;
}